/* CSS para los documentos .html Covadonga y lagosCovadonga
 * realizado por Eduardo Miguel Rojo Burgos
 * para el módulo Lenguajes de marcas y sistemas de gestión de información
 * del CGFS Desarrollo de Aplicaciones Web.
 */


/*---------CUERPO----------*/

body {
  background-color: #F9F8B8;
  /*#e3f1ff;*/
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
}

body.lagos {
  /*Propiedades específicas para el cuerpo del html lagosCovadonga*/
  background-image: url("im%C3%A1genes/agua.jpg");
  background-repeat: repeat;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #BBDAA0;
}


/*---------ENCABEZADOS----------*/

h1 {
  /*Encabezado aplicable a los documentos html Covadonga y lagosCovadonga*/
  font-variant: small-caps;
  font-size: 3em;
  text-align: center;
  letter-spacing: 10px;
  text-decoration: underline;
}

h1.principal {
  /*Propiedades específicas para el encabezado del html Covadonga*/
  background-color: #BBDAF9;
}

h1.lagos {
  /*Propiedades específicas para el encabezado del html lagosCovadonga*/
  background-color: #fff253;
  text-transform: uppercase;
}

h2 {
  background-color: #BBDAA0;
  font-size: 2em;
  text-align: center;
  letter-spacing: 5px;
}


/*---------PÁRRAFOS----------*/

p {
  text-indent: 50px;
  /*font-style: italic;*/
  font-weight: normal;
  font-size: 1em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

p.pie {
  font-size: 0.80em;
  text-align: center;
  border-style: double;
  background-color: #ffffdf;
}

body.lagos p.pie {
  font-size: 0.80em;
  text-align: center;
  border-style: double;
  background-color: #8c91fc;
}

#volver {
  text-indent: 0px;
  border-width: thin;
  border-style: dashed;
  background-color: #ffffdf;
}


/*---------ENLACES----------*/

a {
  color: #B63EEB;
}

a:visited {
  color: #451c57;
}

a:hover {
  background-color: #8240aa;
  color: #F9F8B8;
  font-size: 1.25em;
  letter-spacing: 2px;
  text-decoration: none;
}


/*---------CURSIVA Y NEGRITA----------*/

em {
  font-size: 1.1em;
  color: #657258;
}

body.lagos em {
  font-size: 1.1em;
  color: cornsilk;
}

strong {
  font-size: 1.2em;
  font-family: arial, sans-serif;
}

body.lagos strong {
  color: whitesmoke;
}


/*-------------LISTAS-----------------*/

ol {
  list-style-type: upper-roman;
}

ol.subnivel {
  font-style: italic;
  list-style-type: lower-roman;
  font-size: 0.9em;
}

ul li {
  list-style-image: url("im%C3%A1genes/Asturias.png");
}


/*------------TABLAS----------------*/

table,
td {
  border: 2px solid #BBDAA0;
}

table {
  width: 100%;
  background-color: #ffffdf;
  border-collapse: collapse;
}

td {
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9em;
  padding: 4px 7px 2px 7px;
}

td strong {
  font-size: 0.9em;
  text-transform: uppercase;
}

table p {
  text-align: justify;
  text-indent: 0px;
}

table ul {
  text-align: justify;
}


/*---------------------------*/